head
	meta(charset="UTF-8")
	title Тест для менеджеров
	
body
	
	#body
		img.Logo(src="images/Logo.svg")
		
		h2.Header#HeaderFirst Автоматическая аттестация для менеджеров по продажам
		
		p.HeaderTwo Узнайте максимум информации о кислородных концентраторах Армед, 
		p.HeaderTwo.HeaderLast И проверьте себя, чтобы быть готовым к любым вопросам клиентов.
		.Video#Video
			iframe.Video-Item(width="560" height="314" src="https://www.youtube.com/embed/2jojeFEMUcU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
			iframe.Video-Item(width="560" height="314" src="https://www.youtube.com/embed/o6Y8FVFqPI8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
			iframe.Video-Item(width="560" height="314" src="https://www.youtube.com/embed/x2qznaaA79Q?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

		a#TestActive.TestActive.Button.Button_Color_Red.Button_Size_Lg(href="#") 
			span.Button-Text.Button-Text_Color_White.Button-Text_Uppercase Пройти тест
		.Test.Hide#Test
	form.TestForm#TestForm.Hide(action="")
		label.TestForm-Label(for="name") Имя
		input.TestForm-Input(type="text" id="name" name="name")
		label.TestForm-Label(for="org") Ваша организация
		input.TestForm-Input(type="text" id="org" name="org")
		br
		input(type="submit").Button.Button_Color_Red.Button_Size_Lg.TestForm-Button
	script(src='main.js')
	link(rel="stylesheet" type="text/css" href="main.css")