color1 = #f4f4f4;
color2 = red;

@require 'fonts'

/*.radioButton {
  margin: 0.5rem;
}*/
.radioButton input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radioButton input[type="radio"] + .radio-label:before {
	content: '';
	background: #f4f4f4;
	border-radius: 100%;
	border: 1px solid #b4b4b4;
	display: inline-block;
	width: 10px;
	height: 10px;
	position: relative;
	top: 0.2em;
	margin-right: 0.5em;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	transition: all 250ms ease;
}
.radioButton input[type="radio"]:checked + .radio-label:before {
  background-color: #d64b4b;
  box-shadow: inset 0 0 0 2px #f4f4f4;
}

/*
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: red;
}
.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}


.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}
*/

*
	margin 0
	padding 0
	box-sizing border-box
.Button
	font-family: 'Exo'
	cursor: pointer
	border: 0
	display: flex
	align-items: center
	justify-content: center
	text-decoration: none
	&_Align_Right
		justify-content: flex-end
	&_Align_Left
		justify-content: flex-start
	&_Size_Xxl
		width: 340px
		height: 100px
	&_Size_Lg
		width: 255px
		height: 55px
	&_Size_Sm
		width: 165px
		height: 45px
	&_Color_White
		background-color: #fff
	&_Color_Red
		background-color: #d64b4b
	&_Border
		border: 1px solid #f2f2f2
	&_Color_Not
		background-color: rgba(255, 255, 255, 0)
		transition: 0.4s
		&:hover
			transition: 0.4s
			.Button-Text
				color: #d64b4b
		&:active
			background-color: #f1f1f1
			transition: 0.4s
	
	
	&-Text
		display: flex
		align-items: center
		justify-content: center
		position: relative
		top: -2px
		letter-spacing: 0.07em
		font-size: 16px
		&_Color_Grey
			color: #828282
		&_Color_Black
			color: rgba(79, 79, 79, 1)
		&_Color_White
			color: rgba(255, 255, 255, 1)
		&_Color_Red
			color: #d64b4b
		&_Uppercase
			font-family: 'Exo 2 Semi'
			text-transform: uppercase
		&_Margin25
			margin-left: 25px

.ErrorAnswer
	color #d64b4b
.GoodAnswer
	color #7DC472
#timer
	color #d64b4b
.Header
	text-align center
	margin-bottom 10px
	font-family: Rubik;
	font-weight: 500;
	font-size: 24px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #4F4F4F;
	margin-top: 50px;
	margin-bottom: 50px;
.Video
	display flex
	justify-content space-around
	margin-bottom 100px
	
.TestActive
	margin 0 auto
.Hide
	display none
.Test
	&-Answer
		text-align center
		margin-bottom 10px
		font-family: Rubik;
		font-weight: 500;
		font-size: 24px;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #4F4F4F;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 50px;
	&-Check
		margin 50px auto 50px auto
	&-Label
		cursor pointer
	&-LabelWrap
		display flex
		flex-direction column
		font-family 'Roboto'
		font-size 14px
		padding-left 10px
		margin-top 5px
		margin-left: 20px;
		color: #4f4f4f;
	&-Question
		font-family 'Roboto'
		font-size 14px
		padding-left 15px
		color: #4f4f4f;
		font-weight: bold;
		&:not(:first-child)
			margin-top 20px
			
.TestForm
	width 400px
	margin 0 auto
	&-Label
		font-family: Roboto;
		font-weight: 300;
		font-size: 14px;
		color: #828282;
	&-Input
		width 100%
		height: 40px;
		margin-top: 5px;
		padding: 0 15px;
		border: solid 1px #e0e0e0;
		&:not(:last-child)
			margin-bottom 10px
	&-Button
		color rgba(255, 255, 255, 1)
		font-family: 'Exo 2 Semi'
		text-transform: uppercase
		margin 0 auto
		margin-top: 20px
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			